<!-- <div>
    <form #forecastForm>
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </div>
    </form>
</div> -->

<div>


    <mat-card class="form-card">

        <mat-card-header>
            <h2>Adicionar Novo Registro</h2>
        </mat-card-header>

        <mat-divider></mat-divider>

        <form [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Data</mat-label>
                        <input matInput formControlName="date">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Condição</mat-label>
                        <input matInput formControlName="condition">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <button mat-raised-button type="submit" class="btn add"> Adicionar </button>

        </form>
    </mat-card>

    <mat-card class="form-card">

        <mat-card-header>
            <h2>Alterar Registro</h2>
        </mat-card-header>

        <mat-divider></mat-divider>

        <form [formGroup]="forecastUpdateForm" (ngSubmit)="updateForecast(idForecast.value)">



            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Identificador (ID)</mat-label>
                        <input matInput type="number" name="idForecast" #idForecast>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Data</mat-label>
                        <input matInput formControlName="date">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" color="accent" class="txt-input">
                        <mat-label>Condição</mat-label>
                        <input matInput formControlName="condition">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <button mat-raised-button type="submit" class="btn" color="primary"> Atualizar </button>

        </form>
    </mat-card>

    <mat-card id="list-card">

        <mat-card-header>
            <h2> Lista de Registros </h2>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>

            <div id="refresh-container">
                <button 
                mat-raised-button 
                (click)="getAllForecasts()" 
                color="accent"
                class="btn refresh"> 
                    Atualizar Lista
                </button>
            </div>
            

            <div id="fc-object" *ngFor="let forecast of forecasts">
                <span> 
                    ID: <span class="id">{{ forecast.id }}</span> 
                </span> <br>
                <span> 
                    Data: <span class="date">{{ forecast.date }}</span> 
                </span> <br>
                <span> 
                    Descrição: <span class="description">{{ forecast.description }}</span> 
                </span> <br>
                <span> 
                    Condição: <span class="condition">{{ forecast.condition }}</span> 
                </span> <br>
                
                <div id="btn-container">
                    <button 
                    mat-raised-button 
                    color="warn" 
                    class="btn exc" 
                    (click)="deleteForecast(forecast.id)"> 
                        Excluir 
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
