h2 {
    margin: auto;
    color: rgb(255, 255, 126);
}

.form-card {
    margin: auto;
    margin-top: 40px;
    width: 50%;

    h2 {
        margin-bottom: 15px;
    }

    .btn {
        margin-left: 5px;
    }

    .add {
        background-color: rgb(0, 225, 255);
    }

    .update {
        background-color: greenyellow;
    }

    .txt-input {
        margin-top: 20px;
        width: 97%;
    }
}

#list-card {
    margin:auto;
    margin-top: 40px;
    width: 50%;

    mat-card-header {
        margin-bottom: 15px;
    }

    .refresh {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.grid-row {
    border: 1px solid #595959;
}

#fc-object {
    height: 95%;
    width: 95%;
    border-radius: 8px;

    .btn-container {
        align-self: flex-end;
    }

    .id {
        color: rgb(255, 110, 57);
    }

    .date {
        color: rgb(0, 238, 255);
    }

    .condition {
        color: yellow;
    }
}

#btn-container {
    margin-top: 10px;

    .alt {
        margin-right: 10px;
    }
}